h1.about {
  margin-bottom: 32px;
  color: black;
  text-align: center;
  font-size: 24px;
  font-family: "Lato", sans-serif;
}

.aboutme p {
  font-size: 24px;
}

.aboutme {
  position: absolute;
  text-align: justify;
  text-justify: inter-word;
  width: 94%;
  height: 80%;
  color: black;
  margin: auto 0;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}
